// Types
.content_rectangles {
    display: flex;
    flex-direction: column;

};


.rectangles {
    min-height:610px;
    min-width:270px;
    display: flex;
    flex-direction: column;
    
};

@mixin sz_clr($clr) {
width: 70px;
height: 70px;
background: $clr;
border-radius: 6px;
margin:0px;
display: inline-block;
};

.rectangles_rectangle_darkshade100 {
@include sz_clr($darkshade100)
}

.rectangles_rectangle_darkshade75 {
@include sz_clr($darkshade75)
    }

.rectangles_rectangle_darkshade50 {
@include sz_clr($darkshade50)
        }
.rectangles_rectangle_darkshade25 {
@include sz_clr($darkshade25)
            }
.rectangles_rectangle_darkshade5 {
@include sz_clr($darkshade5)
                };
    
.rectangles_rectangle_purple {
@include sz_clr($purple)
};

.rectangles_rectangle_green {
@include sz_clr($green)
    };

.rectangles_rectangle {
    width: 270px;
    height: 70px;
    display: flex;
    margin-bottom: 20px;
};


.rectangles_rectangle_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
};


