@mixin fontHeads($f, $w, $s, $lh, $c){
    font-family: $f;
    font-weight: $w;
    font-size: $s;
    line-height: $lh;
    color: $c;
    display: inline-block;
}

.groupForHeader {
    position: absolute;
    display: table-cell;
    width: 420;
    height: 321px;
    left: 846px;
    top: 145px;
    margin-bottom: 0px;
};

.groupForHeader_h1{
    display: inline-block;
    align-items: center;
    padding-bottom: 80px;
    border: 1px solid #000;
};
.groupForHeader_h2{
    display: table-cell;;
    padding-bottom: 80px;
};
.groupForHeader_h3{
    display: inline-block;
    padding-bottom: 80px;
};
.groupForHeader_body{
    display: inline-block;
    padding-bottom: 80px;
};

.groupForHeader_h1_headers {
    @include fontHeads('Montserrat',normal, 24px, 29px, $darkshade25);
    display: inline-block;
    width: 50px;
    height: 50px;
};
.groupForHeader_h1_text {
    @include fontHeads('Quicksand',bold, 24px, 30px, $darkshade100);
    vertical-align: baseline;
    display: inline-block;
}

.groupForHeader_h2_headers {
    @include fontHeads('Montserrat',normal, 19px, 23px, $darkshade25);
};
.groupForHeader_h2_text {
    @include fontHeads('Quicksand',bold, 19px, 24px, $darkshade100);
};

.groupForHeader_h3_headers {
    @include fontHeads('Montserrat',normal, 12px, 15px, $darkshade25);
    text-transform: uppercase;
};
.groupForHeader_h3_text {
    @include fontHeads('Montserrat',bold, 12px, 15px, $darkshade100);
    text-transform: uppercase;
};

.groupForHeader_body_headers {
    @include fontHeads('Montserrat',normal, 14px, 24px, $darkshade25);
    text-transform: uppercase;
};
.groupForHeader_body_text {
    @include fontHeads('Montserrat',normal, 14px, 24px, $darkshade75);
    
};
