@mixin fontHeads($f, $w, $s, $lh, $c){
    font-family: $f;
    font-weight: $w;
    font-size: $s;
    line-height: $lh;
    color: $c;
    display: inline-flex;
    
}

.groupForHeader {
    display: flex;
    max-width: 403px;
    height: 321px;
};

.content_groupForHeader {
    display: flex;
};
.content_groupForHeader_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
};

.groupForHeader_text_h1,.groupForHeader_text_h2,
.groupForHeader_text_h3,.groupForHeader_text_body {
    display: flex;
};

.groupForHeader_text_h1_p {
    @include fontHeads('Quicksand',bold, 24px, 30px, $darkshade100);
    display: flex;
    padding-left: 10px;
};

.groupForHeader_text_h1_p:before {
    content: "H1";
    @include fontHeads('Montserrat',normal, 24px, 29px, $darkshade25);
    width:40px;
    height:40px;
    position: relative;
    right: 30px;
};

.groupForHeader_text_h2_p {
    @include fontHeads('Quicksand',bold, 19px, 24px, $darkshade100);
    padding-left: 10px;
    padding-right: 20px;
};
.groupForHeader_text_h2_p:before {
    content: "H2";
    @include fontHeads('Montserrat',normal, 19px, 23px, $darkshade25);
    height:40px;
    display: inline-flex;
    text-align: right;
    position: relative;
    right: 30px;
};

.groupForHeader_text_h3_p {
    @include fontHeads('Montserrat',bold, 12px, 15px, $darkshade100);
    text-transform: uppercase;
};
.groupForHeader_text_h3_p:before {
    content:"H3";
    @include fontHeads('Montserrat',normal, 12px, 15px, $darkshade25);
    text-transform: uppercase;
    width:40px;
    height:40px;
    position: relative;
    right: 15px;
};

.groupForHeader_text_body_p {
    @include fontHeads('Montserrat',normal, 14px, 24px, $darkshade75);
    padding-right: 60px;
};
.groupForHeader_text_body_p:before {
    content:"body";
    @include fontHeads('Montserrat',normal, 14px, 24px, $darkshade25);
    width:40px;
    height:40px;
    position: relative;
    right: 30px;
}
