.groupForHeader
    .content_groupForHeader
        ul.content_groupForHeader_text
            li.groupForHeader_text_h1
                p.groupForHeader_text_h1_p  This one of the sub-sections or widget title
            li.groupForHeader_text_h2
                p.groupForHeader_text_h2_p  Next one is the item title  inside widgets
            li.groupForHeader_text_h3
                p.groupForHeader_text_h3_p  This is a label or CTA text
            li.groupForHeader_text_body
                p.groupForHeader_text_body_p    This is the body text which is used for most of the design, like paragraphs, lists, etc.

        