.groupForHeader
    .groupForHeader_headers
        p.groupForHeader_headers_h1 H1
        p.groupForHeader_headers_h2 H2
        p.groupForHeader_headers_h3 H3
        p.groupForHeader_headers_body   body
    .groupForHeader_text
        p.groupForHeader_text_h1    This one of the sub-sections or widget title
        p.groupForHeader_text_h2    Next one is the item title  inside widgets
        p.groupForHeader_text_h3    This is a label or CTA text
        p.groupForHeader_text_body  This is the body text which is used for most of the design, like paragraphs, lists, etc.