
.groupForHeader
    .content_groupForHeader
        .groupForHeader_h1
            p.groupForHeader_h1_headers H1
            p.groupForHeader_h1_text  This one of the sub-sections or widget title
        .groupForHeader_h2
            p.groupForHeader_h2_headers H2
            p.groupForHeader_h2_text    Next one is the item title  inside widgets
        .groupForHeader_h3
            p.groupForHeader_h3_headers H3
            p.groupForHeader_h3_text   This is a label or CTA text
        .groupForHeader_body
            p.groupForHeader_body_headers   body
            p.groupForHeader_body_text  This is the body text which is used for most of the design, like paragraphs, lists, etc.
        
        