header
    .logo
        .logo_group 
            .logo_group_vector1
            .logo_group_vector2
            .logo_group_vector1
        .logo_toxin
    .group2
        .group2_Documentation 
            a Documentation
        .group2_News 
            a News
        .group2_Careers
            a Careers
        .group2_expand_more
        .group2_Services
            a Services
        .group2_AboutUs
            a About Us
        .group2_Home
            a Home
        .group2_login
            button login
        .group2_register
            button register