.content_standardNavBar
    .standardNavBar_logo
        include ../group_logo/logoAndToxin.pug
    .standardNavBar_menu
        .standardNavBar_menu_content
            .standardNavBar_menu_content_Home
                a(href="#") Home
            .standardNavBar_menu_content_AboutUs
                a(href="#") About Us
            .standardNavBar_menu_content_Services
                a(href="#") Services 
                    //* expand_more */
            .standardNavBar_menu_content_Careers
                a(href="#") Careers 
            .standardNavBar_menu_content_News
                a(href="#") News
            .standardNavBar_menu_content_Documentation
                a(href="#") Documentation
    .standardNavBar_button_login
        .standardNavBar_button_login_content   
            button login
    .standardNavBar_button_register
        .standardNavBar_button_register_content
            button register