.rectangles
                .rectangles_rectangle
                    .rectangles_rectangle_darkshade100
                    .rectangles_rectangle_text
                        p.rectangles_rectangle_pBold   Dark Shade 100%
                        p.rectangles_rectangle_p    #1F2041
                .rectangles_rectangle
                    .rectangles_rectangle_darkshade75
                    .rectangles_rectangle_text
                        p.rectangles_rectangle_pBold  Dark Shade 75%
                        p.rectangles_rectangle_p    #1F2041
                .rectangles_rectangle
                    .rectangles_rectangle_darkshade50
                    .rectangles_rectangle_text
                        p.rectangles_rectangle_pBold    Dark Shade 50% 
                        p.rectangles_rectangle_p    #1F2041
                .rectangles_rectangle
                    .rectangles_rectangle_darkshade25
                    .rectangles_rectangle_text
                        p.rectangles_rectangle_pBold    Dark Shade 25%
                        p.rectangles_rectangle_p    #1F2041
                .rectangles_rectangle
                    .rectangles_rectangle_darkshade5
                    .rectangles_rectangle_text
                        p.rectangles_rectangle_pBold    Dark Shade 5% 
                        p.rectangles_rectangle_p    #1F2041
                .rectangles_rectangle
                    .rectangles_rectangle_purple
                    .rectangles_rectangle_text
                        p.rectangles_rectangle_pBold     Purple  
                        p.rectangles_rectangle_p    #BC9CFF
                .rectangles_rectangle
                    .rectangles_rectangle_green
                    .rectangles_rectangle_text
                        p.rectangles_rectangle_pBold     Green   
                        p.rectangles_rectangle_p    #6FCF97