header {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    }

.group2 {
    flex-direction: row;
    }

%style_for_gr2 {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);
}

.group2_Documentation,.group2_News,.group2_Careers,
.group2_Services,.group2_AboutUs
 {
    @extend %style_for_gr2 ;
}

.group2_Home {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    /* Dark 75% */
    
    color: rgba(31, 32, 65, 0.75);
}

.group2_login_button {
width: 79px;
height: 34px;
border-radius: 22px;
}

.group2_login_button_p {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;
}

.group2_register_button {
width: 101px;
height: 34px;
background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
}

.group2_register_button.p {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;

}