include ../includes/group_logo/group_logo.pug
.content_headersAndFooters
    .standardNavBar
        include ../includes/modules/standardNavBar.pug
    .standardLoggedInNavBar
    .FooterWidgetsCopypyrightBar
    .FooterCreative