include ../utils/mixins
block variables 

doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title #{title}
        meta(name='discription', content=discription)
        block head

    body(class=pageClass)
        include ../includes/modules/header